<!DOCTYPE html>
<html lang="hi">

<%- include('partials/blog-head') %>

  <body>
    <div id="root">

      <div style="position: fixed; top: 0px; z-index: var(--z-index-7)">
        <div style="height: 3px">
          <div
            class="styles_loading-bar__13vNf"
            style="width: 0%; background: var(--secondary-common-color)"
          ></div>
        </div>
      </div>

      <div
        id="db-portal"
        style="
          position: fixed;
          top: 0px;
          z-index: var(--z-index-6);
          transition: background-color 200ms;
          width: 100%;
          height: 100vh;
          min-height: 100vh;
          pointer-events: none;
        "
      >
    </div>

      <div class="b434fabd" style="--mobile-navbar-height: 96px">

        <%- include('./partials/home-topMobilenav') %>
        
        <div class="f049b166">
          <div class="f0e619a2">
            <div
              style="
                display: flex;
                align-items: flex-start;
                width: 100%;
                position: relative;
              "
            >

            <%- include('./partials/home-topBigScreen') %>

              <div class="ba1e62a6">


                <article class="bf64dc76">
                  <div id="blogUpdateButton" class="efdf7dbb"></div>
                  <div class="fba199c3 cc188a1f">
                    <ul>
                      <li><a href="/">Hindi News</a></li>
                      <!-- <li><a href="/lifestyle/">Lifestyle</a></li> -->
                      <li>
                        Current Page
                      </li>
                    </ul>
                  </div>
                  <div class="a88a1c42">
                    <h1 style="word-break: break-word">
                      <span class="c599c552" style="color: #7059ff">
                        <!-- रिलेशनशिप- कुछ भी सुंदर दिखे तो करें तारीफ: -->
                        <%= fsdata.title.split(":")[0] %>:
                      </span
                      ><%= fsdata.title.split(":")[1] %>
                    </h1>
                    <span style="font-size: 0"></span>
                    
                  </div>
                  <div class="d1172d9b">
                    <div class="edd8d071">
                      <span class="c49a6b85"><%= fsdata.timeStamps%></span
                      ><span class="b96cf284">लेखक: Admin</span>
                    </div>
                    <ul
                      class="b8727832"
                      style="
                        --dimension: 40px;
                        --foreground-color: #808080;
                        --background-color: transparent;
                      "
                    >
                      <li class="e7096a0a a7809fed undefined">
                        <button
                          title="अजनबी चेहरों पर लाएं मुस्कान, फैलाएं पॉजिटिव एनर्जी, साइकोलॉजिस्ट से जानें फायदे"
                          aria-label="facebook"
                          class="react-share__ShareButton"
                          style="
                            background-color: transparent;
                            border: none;
                            padding: 0;
                            font: inherit;
                            color: inherit;
                            cursor: pointer;
                          "
                        >
                          <div
                            style="
                              display: inline-block;
                              align-items: center;
                              justify-content: center;
                              width: var(--dimension);
                            "
                          >
                            <svg
                              viewBox="0 0 32 32"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z"
                                fill="var(--background-color)"
                              ></path>
                              <path
                                d="M20.2656 7.46987L18.0533 7.46667C15.5669 7.46667 13.9605 9.11574 13.9605 11.6672V13.6043H11.7354C11.5434 13.6043 11.3877 13.76 11.3877 13.952V16.7573C11.3877 16.9493 11.5434 17.1051 11.7354 17.1051H13.9605V24.1845C13.9605 24.3765 14.1162 24.5323 14.3082 24.5323H17.2117C17.4037 24.5323 17.5594 24.3765 17.5594 24.1845V17.1051H20.161C20.353 17.1051 20.5088 16.9493 20.5088 16.7573L20.5098 13.952C20.5098 13.8592 20.4736 13.7717 20.4074 13.7056C20.3424 13.6405 20.2538 13.6032 20.161 13.6032H17.5584V11.9616C17.5584 11.1723 17.7461 10.7723 18.7744 10.7723H20.2656C20.4576 10.7723 20.6133 10.6165 20.6133 10.4245V7.81867C20.6133 7.62667 20.4576 7.47094 20.2656 7.46987Z"
                                fill="var(--foreground-color)"
                              ></path>
                            </svg>
                          </div>
                        </button>
                      </li>
                      <li class="e7096a0a ddc50a2a undefined">
                        <button
                          aria-label="twitter"
                          class="react-share__ShareButton"
                          style="
                            background-color: transparent;
                            border: none;
                            padding: 0;
                            font: inherit;
                            color: inherit;
                            cursor: pointer;
                          "
                        >
                          <div
                            style="
                              display: inline-block;
                              align-items: center;
                              justify-content: center;
                              width: var(--dimension);
                            "
                          >
                            <svg
                              viewBox="0 0 32 32"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z"
                                fill="var(--background-color)"
                              ></path>
                              <path
                                d="M24.5332 10.7082C23.8986 10.9866 23.2223 11.1712 22.5172 11.2608C23.2426 10.8277 23.7962 10.1472 24.0564 9.32692C23.3802 9.73012 22.6335 10.0149 21.8378 10.1739C21.1956 9.49012 20.2804 9.06665 19.282 9.06665C17.345 9.06665 15.7855 10.6389 15.7855 12.5664C15.7855 12.8437 15.809 13.1104 15.8666 13.3643C12.9578 13.2224 10.3839 11.8282 8.65482 9.70452C8.35295 10.2282 8.17589 10.8277 8.17589 11.473C8.17589 12.6848 8.79989 13.7589 9.73002 14.3808C9.16789 14.3701 8.61642 14.2069 8.14922 13.9499C8.14922 13.9605 8.14922 13.9744 8.14922 13.9883C8.14922 15.6885 9.36202 17.1008 10.9524 17.4261C10.6676 17.504 10.3572 17.5413 10.0351 17.5413C9.81109 17.5413 9.58495 17.5285 9.37269 17.4816C9.82602 18.8672 11.1124 19.8858 12.642 19.9189C11.4516 20.8501 9.94015 21.4112 8.30389 21.4112C8.01695 21.4112 7.74175 21.3984 7.46655 21.3632C9.01642 22.3626 10.8532 22.9333 12.834 22.9333C19.2724 22.9333 22.7924 17.6 22.7924 12.9771C22.7924 12.8224 22.7871 12.673 22.7796 12.5248C23.474 12.032 24.0575 11.4165 24.5332 10.7082Z"
                                fill="var(--foreground-color)"
                              ></path>
                            </svg>
                          </div>
                        </button>
                      </li>
                      <li class="e7096a0a dbcbf444 undefined">
                        <div
                          style="
                            display: inline-block;
                            align-items: center;
                            justify-content: center;
                            width: var(--dimension);
                          "
                        >
                          <svg
                            viewBox="0 0 40 40"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <rect
                              width="40"
                              height="40"
                              rx="20"
                              fill="var(--background-color)"
                            ></rect>
                            <path
                              d="M12.8018 26.164C11.8128 24.71 12.1208 22.724 13.3668 21.478L15.8008 19.044C16.2328 18.612 16.2328 17.897 15.8008 17.465C15.3688 17.033 14.6538 17.033 14.2218 17.465L11.8708 19.816C9.70284 21.984 9.35384 25.507 11.3058 27.875C13.5408 30.592 17.5698 30.733 19.9958 28.307L22.5298 25.7731C22.9618 25.3411 22.9618 24.626 22.5298 24.194C22.0978 23.762 21.3828 23.762 20.9508 24.194L18.4168 26.7281C16.8318 28.316 14.1308 28.125 12.8018 26.164ZM18.3348 23.323L23.3198 18.338C23.7768 17.8811 23.7768 17.133 23.3198 16.676C22.8628 16.219 22.1148 16.219 21.6578 16.676L16.6728 21.661C16.2158 22.118 16.2158 22.866 16.6728 23.323C17.1298 23.78 17.8778 23.78 18.3348 23.323ZM19.8138 11.874L17.4628 14.225C17.0308 14.657 17.0308 15.372 17.4628 15.804C17.8948 16.236 18.6098 16.236 19.0418 15.804L21.4758 13.37C22.7218 12.124 24.7078 11.816 26.1618 12.805C28.1228 14.134 28.3138 16.835 26.7268 18.421L24.1928 20.955C23.7608 21.387 23.7608 22.102 24.1928 22.534C24.6248 22.9661 25.3398 22.9661 25.7718 22.534L28.3058 20C30.7318 17.574 30.5908 13.544 27.8818 11.301C25.5138 9.34805 21.9828 9.70505 19.8138 11.874Z"
                              fill="var(--foreground-color)"
                            ></path>
                          </svg>
                        </div>
                        <span>कॉपी लिंक</span>
                      </li>
                    </ul>
                  </div>
                  <div class="f3e032cb">
                    <picture class="c62bd949" style="visibility: visible"
                      ><source
                        media="(max-width: 768px)"
                        type="image/webp"
                        srcset="
                        <%= fsdata.thumbnailUrl%>
                        " />
                      <source
                        media="(min-width: 768px)"
                        type="image/webp"
                        srcset="
                        <%= fsdata.thumbnailUrl%>
                        " />
                      <img
                        width="720"
                        height="540"
                        src="<%= fsdata.thumbnailUrl%>"
                        alt=""
                        loading="eager"
                        class="f97587ba"
                    /></picture>
                  </div>
                  <div class="f46ba790"><span></span></div>

                  <div style="text-align: justify; margin-bottom: 60px;">
                    <%- fsdata.name%>
                  </div>
                  
                  <!-- <p
                    class=""
                    style="
                      word-break: break-word;
                      text-align: left;
                      white-space: pre-line;
                    "
                  >
                    <span class="e913fbaa d3886593">क्या </span>आपने कभी किसी
                    अजनबी की तारीफ की है? कल्पना कीजिए कि आप बस में सफर कर रहे
                    हैं और आपके पास एक बुजुर्ग अंकल बैठे हैं, जो फिट और
                    चुस्त-दुरुस्त हैं।
                  </p>
                  <span style="font-size: 0"></span>
                  <div
                    class="cf559a0e b06c8b9b"
                    style="
                      overflow: hidden;
                      padding: 0px;
                      min-height: 280px;
                      max-height: 280px;
                    "
                  >
                    <div
                      id="Ad--28928716--Bhaskar--Article--M.DAB_AS_MID_300x250"
                      class="fbad50ce"
                    ></div>
                  </div>
                  <p
                    class=""
                    style="
                      word-break: break-word;
                      text-align: left;
                      white-space: pre-line;
                    "
                  >
                    आप मुस्कुराते हुए उनकी फिटनेस की तारीफ करते हैं। या किसी
                    कॉलेज जाने वाले लड़के से उसकी ड्रेसिंग सेंस की तारीफ करते
                    हैं। ऐसी छोटी-छोटी तारीफ किसी का दिन बदल सकती है।
                  </p>
                  <p
                    class=""
                    style="
                      word-break: break-word;
                      text-align: left;
                      white-space: pre-line;
                    "
                  >
                    तारीफ सामने वाले को अच्छा महसूस कराती है। यह एक तरह की
                    पॉजिटिव एनर्जी है, जो एक इंसान से दूसरे इंसान तक फैलती है।
                    हर किसी के पास कुछ न कुछ ऐसा है, जो किसी दूसरे को पसंद आए।
                    हम किसी की कोई अच्छी आदत, ड्रेसिंग सेंस या किसी भी चीज के
                    बारे में तारीफ कर सकते हैं।
                  </p>
                  <p
                    class=""
                    style="
                      word-break: break-word;
                      text-align: left;
                      white-space: pre-line;
                    "
                  >
                    इससे एक एनर्जी साइकिल बन जाती है, जो सबको खुश कर सकती है। तो
                    क्यों न हम भी इस पॉजिटिव बदलाव का हिस्सा बनें और अपने आसपास
                    की दुनिया को थोड़ा और खूबसूरत बनाएं?
                  </p>
                  <p
                    class=""
                    style="
                      word-break: break-word;
                      text-align: left;
                      white-space: pre-line;
                    "
                  >
                    ऐसे में आज हम <strong>रिलेशनशिप </strong>में जानेंगे कि-
                  </p>
                  <div class="f5e1d774" style="border-bottom: none">
                    <ul class="d7ef6cb6">
                      <li>तारीफ का असर कैसे होता है?</li>
                      <li>इसके फायदे क्या हैं?</li>
                      <li>दूसरों की तारीफ करने से हमें क्या फायदा होता है?</li>
                    </ul>
                  </div>
                  <div class="f3e032cb">
                    <picture class="c62bd949" style="visibility: visible"
                      ><source
                        media="(max-width: 768px)"
                        type="image/webp"
                        srcset="
                          https://images.bhaskarassets.com/webp/thumb/360x0/web2images/521/2025/03/09/relationship09032025-01_1741522560.png
                        " />
                      <source
                        media="(min-width: 768px)"
                        type="image/webp"
                        srcset="
                          https://images.bhaskarassets.com/webp/thumb/512x0/web2images/521/2025/03/09/relationship09032025-01_1741522560.png
                        " />
                      <img
                        width="730"
                        height="838"
                        src="https://images.bhaskarassets.com/web2images/521/2025/03/09/relationship09032025-01_1741522560.png"
                        loading="lazy"
                        class="f97587ba"
                    /></picture>
                  </div>
                  <div class="f46ba790"><span></span></div>
                  <p
                    class=""
                    style="
                      word-break: break-word;
                      text-align: left;
                      white-space: pre-line;
                    "
                  >
                    <strong>कैसे होता है तारीफ का असर?</strong>
                  </p>
                  <p
                    class=""
                    style="
                      word-break: break-word;
                      text-align: left;
                      white-space: pre-line;
                    "
                  >
                    जब भी कोई हमारी मेहनत या हमारे किसी काम की तारीफ करता है, तो
                    हम अच्छा महसूस करते हैं। ये एहसास हमें अंदर से खुशी देता है।
                    तारीफ एक जादू की तरह काम करता है, जिससे हम और भी बेहतर करने
                    के लिए प्रेरित होते हैं।
                  </p>
                  <p
                    class=""
                    style="
                      word-break: break-word;
                      text-align: left;
                      white-space: pre-line;
                    "
                  >
                    द पावर ऑफ प्रेज नाम की एक स्टडी के मुताबिक, जब हम बच्चों की
                    मेहनत और उनके प्रयासों की तारीफ करते हैं, तो बच्चे समझते हैं
                    कि वे अपनी क्षमता को और बेहतर कर सकते हैं। इससे बच्चे
                    चुनौतियों से डरते नहीं हैं और हमेशा सीखने के लिए तैयार रहते
                    हैं।
                  </p>
                  <p
                    class=""
                    style="
                      word-break: break-word;
                      text-align: left;
                      white-space: pre-line;
                    "
                  >
                    वहीं अगर हम बच्चों की बुद्धिमानी या प्रतिभा की तारीफ करते
                    हैं, तो वे यह सोचने लगते हैं कि उनकी क्षमता पहले से तय है और
                    वे इसे बदल नहीं सकते। ऐसे बच्चे असफलता से डरते हैं और
                    मुश्किल कामों से बचने की कोशिश करते हैं।
                  </p>
                  <p
                    class=""
                    style="
                      word-break: break-word;
                      text-align: left;
                      white-space: pre-line;
                    "
                  >
                    तारीफ सिर्फ काम की नहीं, व्यक्तित्व की भी हो सकती है। अगर
                    कोई दयालुता या समझदारी के लिए हमारी सराहना करता है, तो हमें
                    अपने आप पर गर्व महसूस होता है। ये सिर्फ हमारे लिए ही नहीं,
                    बल्कि हमारे रिश्तों के लिए भी फायदेमंद है।
                  </p>
                  <p
                    class=""
                    style="
                      word-break: break-word;
                      text-align: left;
                      white-space: pre-line;
                    "
                  >
                    जब हम किसी की तारीफ करते हैं, तो उनके साथ हमारे संबंध और
                    मजबूत होते हैं। तारीफ करने से सकारात्मक माहौल बनता है, जिससे
                    लोग खुशी महूसस करते हैं और अपनापन बढ़ता है।
                  </p>
                  <p
                    class=""
                    style="
                      word-break: break-word;
                      text-align: left;
                      white-space: pre-line;
                    "
                  >
                    <strong>तारीफ से सोशल रिलेशन में सुधार</strong>
                  </p>
                  <p
                    class=""
                    style="
                      word-break: break-word;
                      text-align: left;
                      white-space: pre-line;
                    "
                  >
                    तारीफ न सिर्फ सुनने वाले को अच्छा महसूस कराती है, बल्कि
                    हमारे रिश्तों को भी मजबूत बनाती है। जब हम किसी की सच्चे दिल
                    से तारीफ करते हैं, तो सामने वाले को लगता है कि हम उन्हें
                    पसंद करते हैं और उनकी कद्र करते हैं।
                  </p>
                  <p
                    class=""
                    style="
                      word-break: break-word;
                      text-align: left;
                      white-space: pre-line;
                    "
                  >
                    इससे हमारे बीच एक खास बॉन्डिंग बनती है। ऐसे में हम लोगों से
                    ज्यादा घुलते-मिलते हैं, उनके साथ सहज महसूस करते हैं। साथ ही
                    एक-दूसरे के साथ जुड़ाव महसूस करते हैं। आइए इसे ग्राफिक के
                    जरिए समझते हैं।
                  </p>
                  <div class="f3e032cb">
                    <picture class="c62bd949" style="visibility: visible"
                      ><source
                        media="(max-width: 768px)"
                        type="image/webp"
                        srcset="
                          https://images.bhaskarassets.com/webp/thumb/360x0/web2images/521/2025/03/09/relationship09032025-02_1741522601.png
                        " />
                      <source
                        media="(min-width: 768px)"
                        type="image/webp"
                        srcset="
                          https://images.bhaskarassets.com/webp/thumb/512x0/web2images/521/2025/03/09/relationship09032025-02_1741522601.png
                        " />
                      <img
                        width="730"
                        height="2027"
                        src="https://images.bhaskarassets.com/web2images/521/2025/03/09/relationship09032025-02_1741522601.png"
                        loading="lazy"
                        class="f97587ba"
                    /></picture>
                  </div>
                  <div class="f46ba790"><span></span></div>
                  <p
                    class=""
                    style="
                      word-break: break-word;
                      text-align: left;
                      white-space: pre-line;
                    "
                  >
                    <strong>विश्वास और सम्मान में वृद्धि: </strong>जब आप किसी की
                    तारीफ करते हैं, तो उन्हें लगता है कि आप उन्हें समझते हैं और
                    उनकी कद्र करते हैं। इससे रिश्तों में विश्वास और सम्मान बढ़ता
                    है।
                  </p>
                  <p
                    class=""
                    style="
                      word-break: break-word;
                      text-align: left;
                      white-space: pre-line;
                    "
                  >
                    <strong>सहानुभूति: </strong>तारीफ करने से आप दूसरों के प्रति
                    अधिक सहानुभूति रखते हैं। जब आप दूसरों की अच्छाइयों को देखते
                    हैं, तो आप उन्हें बेहतर ढंग से समझ पाते हैं।
                  </p>
                  <p
                    class=""
                    style="
                      word-break: break-word;
                      text-align: left;
                      white-space: pre-line;
                    "
                  >
                    <strong>मजबूत रिश्ते: </strong>तारीफ करने से आपसी रिश्ते
                    मजबूत होते हैं। जब आप किसी की तारीफ करते हैं, तो उन्हें लगता
                    है कि आप उन्हें पसंद करते हैं और उनकी परवाह करते हैं।
                  </p>
                  <p
                    class=""
                    style="
                      word-break: break-word;
                      text-align: left;
                      white-space: pre-line;
                    "
                  >
                    <strong>सकारात्मक माहौल:</strong> एक-दूसरे की प्रशंसा करने
                    से सकारात्मक माहौल बनता है। जब सब एक-दूसरे की तारीफ करते
                    हैं, तो सब खुश रहते हैं और काम करने में मन लगता है।
                  </p>
                  <p
                    class=""
                    style="
                      word-break: break-word;
                      text-align: left;
                      white-space: pre-line;
                    "
                  >
                    <strong>इमोशनल सपोर्ट: </strong>तारीफ करने से इमोशनल सपोर्ट
                    मिलता है। जब कोई उदास होता है और उसकी तारीफ की जाती है तो
                    उसे अच्छा महसूस होता है।
                  </p>
                  <p
                    class=""
                    style="
                      word-break: break-word;
                      text-align: left;
                      white-space: pre-line;
                    "
                  >
                    <strong>तारीफ से पॉजिटिव एनर्जी का फैलाव</strong>
                  </p>
                  <p
                    class=""
                    style="
                      word-break: break-word;
                      text-align: left;
                      white-space: pre-line;
                    "
                  >
                    जब हम किसी की तारीफ करते हैं, तो उसे बहुत अच्छा लगता है। जब
                    कोई अच्छा महसूस करता है, तो वह अच्छे काम करता है और हमेशा
                    खुश रहता है। इससे उसके आस-पास के लोग भी खुश रहते हैं। लोगों
                    की तारीफ करना भी खुशियां बांटने का एक तरीका है।
                  </p>
                  <div class="f5e1d774" style="border-bottom: none">
                    <ul class="d7ef6cb6">
                      <li>
                        <strong>पॉजिटिव इमोशन का संचार होता है:</strong> जब हम
                        किसी की तारीफ करते हैं, तो हम उस व्यक्ति में सकारात्मक
                        भावनाओं का संचार करते हैं। यह भावनाएं उस व्यक्ति को खुश
                        करती हैं और उन्हें और भी बेहतर प्रदर्शन करने के लिए
                        प्रेरित करती हैं।
                      </li>
                      <li>
                        <strong>सकारात्मक व्यवहार को बढ़ावा: </strong>जब हम किसी
                        की तारीफ करते हैं, तो हम उस व्यक्ति में सकारात्मक
                        व्यवहार को बढ़ावा देते हैं। इससे हमारे आसपास का माहौल भी
                        सकारात्मक होता है।
                      </li>
                      <li>
                        <strong>पॉजिटिव रिलेशन का निर्माण: </strong>जब हम किसी
                        की तारीफ करते हैं, तो हम उस व्यक्ति के साथ एक पॉजिटिव
                        रिलेशन बनाने में मदद मिलती है।
                      </li>
                      <li>
                        <strong>समाज में सहयोग और सामंजस्य: </strong>किसी की
                        तारीफ करने से सामने वाला महसूस करता है कि उसका योगदान
                        महत्वपूर्ण है। यह सहयोग की भावना को बढ़ाता है।
                      </li>
                      <li>
                        <strong>प्रेरणा और उत्साह: </strong>जब हम किसी की तारीफ
                        करते हैं, तो उसे और अच्छा काम करने की प्रेरणा मिलती है।
                        वह और भी मेहनत करता है और बेहतर बनने की कोशिश करता है।
                      </li>
                      <li>
                        <strong>सकारात्मक ऊर्जा का संचार: </strong>जब हम किसी की
                        तारीफ करते हैं, तो हम उस व्यक्ति के साथ एक सकारात्मक
                        संबंध बनाते हैं। यह संबंध हमारे आसपास के माहौल को भी
                        सकारात्मक बनाता है।
                      </li>
                      <li>
                        <strong>दूसरों को प्रेरित करते हैं: </strong>जब कोई
                        बेहतर काम करता है और हम उसकी तारीफ करते हैं तो उसकी यह
                        ऊर्जा उसके आस-पास के लोगों को भी प्रभावित करती है और
                        उनमें उत्साह का संचार करती है।
                      </li>
                      <li>
                        <strong>माहौल खुशनुमा होता है: </strong>जब हम दूसरों की
                        तारीफ करते हैं, तो हम अपने आसपास एक सकारात्मक और
                        उत्साहपूर्ण माहौल तैयार करते हैं। यह माहौल हमारे रिश्तों
                        को और भी बेहतर बनाता है।
                      </li>
                    </ul>
                  </div> -->
                  <div class="a5993508 paywallBlockedContent"><div>.</div></div>
                  <div class="cda600a0"></div>
                  <span style="font-size: 0"></span>
                  <div
                    class="cf559a0e b06c8b9b"
                    style="
                      margin-bottom: 20px;
                      border-bottom: none;
                      overflow: hidden;
                      padding: 0px;
                    "
                  >
                    <div
                      id="Ad--28928716--Bhaskar--Article--M.DAB_AS_BTF1_300x250"
                      class="fbad50ce"
                    ></div>
                  </div>


                  <% if (locals.relatePosts) { %>
                   
                  
                  <div class="a0a8c070">
                    <span class="e8c0a4b7">खबरें और भी हैं...</span>
                    <ul>

                      <% relatePosts.forEach(post => { %>
                        <li class="c7ff6507 db9a2680">
                          <a
                            href="/blog/<%=post.timeStamps%>"
                            ><div
                              class="ad3ccf1a"
                              title="<%=post.title%>"
                            >
                              <h3>
                                <span style="color: #7059ff"
                                  ><%= post.title.split(":")[0] %>:</span
                                >
                                <%= post.title.split(":")[1] %>
                              </h3>
                              <div class="">
                                <figure>
                                  <picture
                                    class="c62bd949"
                                    style="visibility: visible"
                                    ><source
                                      media="(max-width: 768px)"
                                      type="image/webp"
                                      srcset="
                                      <%= post.thumbnailUrl %>
                                      " />
                                    <source
                                      media="(min-width: 768px)"
                                      type="image/webp"
                                      srcset="
                                      <%= post.thumbnailUrl %>
                                      " />
                                    <img
                                      width="360"
                                      height="270"
                                      src="<%= post.thumbnailUrl %>"
                                      alt="<%= post.title %>"
                                      loading="lazy"
                                      class="f97587ba"
                                  /></picture>
                                </figure>
                              </div></div
                          ></a>
                          <div class="ff29866a">
                            <div class="d4231e2c">
                              <span class="fd4e34d0"
                                ><a href="/blog/<%=post.timeStamps%>"
                                  >Admin
                                  <div
                                    style="
                                      display: inline-block;
                                      align-items: center;
                                      justify-content: center;
                                    "
                                    class="a8386ccf"
                                  >
                                    <svg
                                      viewBox="0 0 24 24"
                                      fill="none"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <path
                                        d="M6 9.57398C6 9.31798 6.098 9.06198 6.293 8.86698C6.684 8.47598 7.316 8.47598 7.707 8.86698L11.999 13.16L16.293 8.86698C16.684 8.47598 17.317 8.47598 17.707 8.86698C18.098 9.25798 18.098 9.88998 17.707 10.281L12.954 15.033C12.427 15.558 11.571 15.558 11.045 15.034L6.293 10.281C6.098 10.086 6 9.82998 6 9.57398Z"
                                        fill="var(--foreground-color)"
                                      ></path>
                                    </svg></div></a
                              ></span>
                            </div>
                            <ul class="a756c403 a68dacec">
                              <li class="a56e5e55 dc486035">
                                <button
                                  title="खुद पर भरोसा जरूरी, साइकोलॉजिस्ट से जानें कॉन्फिडेंस बूस्ट करने के 9 तरीके"
                                  aria-label="facebook"
                                  class="react-share__ShareButton"
                                  style="
                                    background-color: transparent;
                                    border: none;
                                    padding: 0;
                                    font: inherit;
                                    color: inherit;
                                    cursor: pointer;
                                  "
                                >
                                  <strong></strong>
                                </button>
                              </li>
                              <li class="a56e5e55 eabf179b">
                                <button
                                  aria-label="twitter"
                                  class="react-share__ShareButton"
                                  style="
                                    background-color: transparent;
                                    border: none;
                                    padding: 0;
                                    font: inherit;
                                    color: inherit;
                                    cursor: pointer;
                                  "
                                >
                                  <strong></strong>
                                </button>
                              </li>
                              <li class="a56e5e55 fa57dd56">
                                <strong></strong><span>कॉपी लिंक</span>
                              </li>
                            </ul>
                            <div class="e02419a9">
                              <button
                                aria-label="whatsapp"
                                class="react-share__ShareButton b188440f e7ab1d24"
                                style="
                                  background-color: transparent;
                                  border: none;
                                  padding: 0;
                                  font: inherit;
                                  color: inherit;
                                  cursor: pointer;
                                "
                              >
                                <strong></strong></button
                              >शेयर
                            </div>
                          </div>
                        </li>
                      <% }) %>
                      
                    </ul>
                  </div>

                  <% } %>



                </article>

                
                
              </div>
              <div class="b9cd31db">
                <div class="dbc90c19"></div>
                <span style="font-size: 0"></span>
                <div
                  class="cf559a0e f1ab6437"
                  style="
                    margin-bottom: 10px;
                    overflow: hidden;
                    padding: 0px;
                    min-height: 400px;
                    max-height: 400px;
                  "
                >
                  <div
                    id="Ad--28928716--Bhaskar--Article--DAB_AS_ATF_300x250"
                    class="fbad50ce"
                  ></div>
                </div>
                <div class="cce0a6ab">
                  <a href="/videos"
                    ><span class="f1735215">वीडियो</span
                    ><span class="ed28c45e"><span class="ba5ce2b1"></span></span
                    ><span class="f4a630a7">और देखें</span
                    ><img loading="lazy" src="" alt=""
                  /></a>
                </div>
                <span style="font-size: 0"></span>
                <div
                  class="cf559a0e f1ab6437"
                  style="
                    margin-bottom: 10px;
                    margin-top: 10px;
                    overflow: hidden;
                    padding: 0px;
                  "
                >
                  <div
                    id="Ad--28928716--Bhaskar--Article--DAB_AS_BTF_300x250"
                    class="fbad50ce"
                  ></div>
                </div>
                <div class="ab46c443">
                  <ul class="d775a447">
                    <li>
                      <a
                        title="Advertise with Us"
                        href="/advertise-with-us?ref=inbound_RHS"
                        >Advertise with Us</a
                      ><span>|</span>
                    </li>
                    <li>
                      <a title="DB Reporter" href="/db-reporter?ref=inbound_RHS"
                        >DB Reporter</a
                      ><span>|</span>
                    </li>
                    <li>
                      <a title="Sitemap" href="/sitemap?ref=inbound_RHS"
                        >Sitemap</a
                      ><span>|</span>
                    </li>
                    <li>
                      <a
                        title="Terms &amp; Conditions and Grievance Redressal Policy"
                        href="/terms-and-conditions?ref=inbound_RHS"
                        >Terms &amp; Conditions and Grievance Redressal
                        Policy</a
                      ><span>|</span>
                    </li>
                    <li>
                      <a title="Contact Us" href="/contact-us?ref=inbound_RHS"
                        >Contact Us</a
                      ><span>|</span>
                    </li>
                    <li>
                      <a title="RSS" href="/rss?ref=inbound_RHS">RSS</a
                      ><span>|</span>
                    </li>
                    <li>
                      <a
                        title="Cookie Policy"
                        href="/cookie-policy?ref=inbound_RHS"
                        >Cookie Policy</a
                      ><span>|</span>
                    </li>
                    <li>
                      <a
                        title="Privacy Policy"
                        href="/privacy-policy?ref=inbound_RHS"
                        >Privacy Policy</a
                      >
                    </li>
                  </ul>
                  <span class="dd6b3092">Our Divisions</span>
                  <ul class="f84881f1">
                    <li>
                      <a
                        title="DainikBhaskar.com"
                        target="_self"
                        href="https://www.bhaskar.com/?ref=inbound_RHS"
                        >DainikBhaskar.com</a
                      >
                    </li>
                    <li>
                      <a
                        title="DivyaBhaskar.com"
                        target="_blank"
                        href="https://www.divyabhaskar.co.in/?ref=inbound_RHS"
                        >DivyaBhaskar.com</a
                      >
                    </li>
                    <li>
                      <a
                        title="BhaskarEnglish.in"
                        target="_blank"
                        href="https://www.bhaskarenglish.in?ref=inbound_RHS"
                        >BhaskarEnglish.in</a
                      >
                    </li>
                    <li>
                      <a
                        title="DivyaMarathi.com"
                        target="_blank"
                        href="https://divyamarathi.bhaskar.com/?ref=inbound_RHS"
                        >DivyaMarathi.com</a
                      >
                    </li>
                    <li>
                      <a
                        title="MoneyBhaskar.com"
                        target="_blank"
                        href="https://money.bhaskar.com/?ref=inbound_RHS"
                        >MoneyBhaskar.com</a
                      >
                    </li>
                    <li>
                      <a
                        title="BhaskarAd.com"
                        target="_blank"
                        href="https://www.bhaskarad.com/?ref=inbound_RHS"
                        >BhaskarAd.com</a
                      >
                    </li>
                  </ul>
                  <p>Copyright © 2024-25 DB Corp ltd., All Rights Reserved</p>
                  <p style="padding-top: 10px">
                    This website follows the
                    <a href="/dnpa-code-of-ethics-for-digital-news-websites"
                      >DNPA Code of Ethics</a
                    >.
                  </p>
                </div>
              </div>
            </div>
          </div>


          <!-- <div class="e18ea945 db9a2680">
            <a
              class="f9b352a5"
              style="bottom: 95px"
              rel="noopener noreferrer"
              href=''
              >Join Now</a
            >
          </div> -->

          <div class="ebf6e4be" style="right: -40px">
            <a
              title="फीडबैक दें"
              href=""
              target="_blank"
              rel="noopener noreferrer"
              >फीडबैक दें</a
            >
        </div>
      </div>
    </div>




  </body>
</html>
