<!DOCTYPE html>
<html lang="hi">
  <%- include('./partials/home-head') %>

  <body>
    <div id="root">
      <div style="position: fixed; top: 0px; z-index: var(--z-index-7)">
        <div style="height: 3px">
          <div
            class="styles_loading-bar__13vNf"
            style="width: 0%; background: var(--secondary-common-color)"
          ></div>
        </div>
      </div>
      <div
        id="db-portal"
        style="
          position: fixed;
          top: 0px;
          z-index: var(--z-index-6);
          transition: background-color 200ms;
          width: 100%;
          height: 100vh;
          min-height: 100vh;
          pointer-events: none;
        "
      ></div>

      <div class="eea00180" style="--mobile-navbar-height: 96px">
        
        <%- include('./partials/home-topMobilenav') %>

        <div class="df89d18b">
          <div class="f0e619a2">
            <div
              style="
                display: flex;
                align-items: flex-start;
                width: 100%;
                position: relative;
              "
            >


            <%- include('./partials/home-topBigScreen') %>

              <div class="ba1e62a6">

                <div id="topSlider" class="adb73b17">
                  <div class="b5efc039 b819f3aa" style="background: #ffffff">
                    <div class="e36c2a44">
                      <span class="f4728aed">ट्रेंडिंग न्यूज़</span>
                        <a class="bcc073be" href="javascript:void(0)">सभी देखें</a>
                    </div>
                    <div class="a63934ca">
                      <div class="a7a07d48">
                        <% if (locals.jobs) { %> <% jobs.forEach(job => { %>
                        <a
                          class="be5dc0f8 e93246f3"
                          style="--default-width: 176px"
                          href="<%=job.embedUrl%>"
                          ><picture
                            class="c62bd949 ecc52c4b fe19aee0"
                            style="visibility: visible"
                            ><source
                              media="(max-width: 768px)"
                              type="image/webp"
                              srcset="<%=job.gifThumbnail%>" />
                            <source
                              media="(min-width: 768px)"
                              type="image/webp"
                              srcset="<%job.gifThumbnail%>" />
                            <img
                              width="176"
                              height="132"
                              src="<%=job.gifThumbnail%>"
                              alt="<%=job.gifThumbnail%>"
                              loading="lazy"
                              style="aspect-ratio: 1.3333333333333333"
                              class="f97587ba ecc52c4b"
                          /></picture>
                          <p class="f5b13c8b" style="color: #2b2b2b">
                            <%=job.name%>
                          </p>
                        </a>
                        <% }) %> <% } %>

                        <a class="bcafd12c" href="javascript:void(0)">
                          <div class="f9255734">
                            <div
                              style="
                                display: inline-block;
                                align-items: center;
                                justify-content: center;
                              "
                              class="c5c466b4"
                            >
                              <svg
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <g id="ic_nav/back">
                                  <path
                                    id="Vector"
                                    d="M19 11.0002H7.5L12.5 6.0002C12.9 5.6002 12.9 4.9002 12.5 4.5002C12.1 4.1002 11.5 4.1002 11.1 4.5002L4.3 11.3002C3.9 11.7002 3.9 12.3002 4.3 12.7002L11.1 19.5002C11.5 19.9002 12.1 19.9002 12.5 19.5002C12.9 19.1002 12.9 18.5002 12.5 18.1002L7.5 13.1002H19C19.6 13.1002 20 12.6002 20 12.1002C20 11.4002 19.5 11.0002 19 11.0002Z"
                                    fill="var(--foreground-color)"
                                  ></path>
                                </g>
                              </svg>
                            </div>
                          </div>
                          <span class="d6c6ef48">सभी देखें</span>
                          </a>
                      </div>
                      <button type="button" class="eb9fa2d9 e20fd337">
                        <div
                          style="
                            display: inline-block;
                            align-items: center;
                            justify-content: center;
                          "
                          class="e0fc91aa"
                        >
                          <svg
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M6 9.57398C6 9.31798 6.098 9.06198 6.293 8.86698C6.684 8.47598 7.316 8.47598 7.707 8.86698L11.999 13.16L16.293 8.86698C16.684 8.47598 17.317 8.47598 17.707 8.86698C18.098 9.25798 18.098 9.88998 17.707 10.281L12.954 15.033C12.427 15.558 11.571 15.558 11.045 15.034L6.293 10.281C6.098 10.086 6 9.82998 6 9.57398Z"
                              fill="var(--foreground-color)"
                            ></path>
                          </svg>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>

                <ul class="e96634e0">
                  <div>
                    <% if (locals.fsdata) { %> 
                      <% fsdata.forEach((data,i) => { %>
                    <div class="d3826354">
                      <li class="fbec4184 db9a2680">
                        <a href="/blog/<%= data.id %>"
                          ><div class="f3426d1d" title="<%= data.title %>">
                            <h3 class="">

                              <% if (i === 0) { %>
                              <div class="d842c6bf">
                                <div class="f2041576"></div>
                                <span
                                  class="f78e5dad d6be291b"
                                  style="background: #f44336"
                                  >Letest</span
                                >
                              </div>
                              <% } %>

                              <span style="color: <%=data.color%>">
                                <%= data.title.split(":")[0] %>:
                              </span>
                              <%= data.title.split(":")[1] %>
                            </h3>
                            <div
                              style="display: flex; justify-content: center"
                            ></div>
                            <figure class="ebf26e6f">
                              <picture
                                class="c62bd949"
                                style="visibility: visible"
                                ><source
                                  media="(max-width: 768px)"
                                  type="image/webp"
                                  srcset="
                                    <%= data.thumbnailUrl %>
                                    " />
                                <source
                                  media="(min-width: 768px)"
                                  type="image/webp"
                                  srcset="
                                    <%= data.thumbnailUrl %>
                                    " />
                                <img
                                  width="360"
                                  height="270"
                                  src="<%= data.thumbnailUrl %>"
                                  alt="<%= data.title %>"
                                  loading="lazy"
                                  class="f97587ba"
                              /></picture>
                              </figure>
                          </div></a
                        >
                        <div class="ff29866a">
                          <div class="d4231e2c">
                            <span class="fd4e34d0"
                              ><a id="posteOnTime" href="/blog/<%= data.id %>">
                                <%=data.timeStamps%>
                                <div
                                  style="
                                    display: inline-block;
                                    align-items: center;
                                    justify-content: center;
                                  "
                                  class="a8386ccf"
                                >
                                  <svg
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <path
                                      d="M6 9.57398C6 9.31798 6.098 9.06198 6.293 8.86698C6.684 8.47598 7.316 8.47598 7.707 8.86698L11.999 13.16L16.293 8.86698C16.684 8.47598 17.317 8.47598 17.707 8.86698C18.098 9.25798 18.098 9.88998 17.707 10.281L12.954 15.033C12.427 15.558 11.571 15.558 11.045 15.034L6.293 10.281C6.098 10.086 6 9.82998 6 9.57398Z"
                                      fill="var(--foreground-color)"
                                    ></path>
                                  </svg></div></a
                            ></span>
                          </div>

                          <div
                            onclick="shareUrl('/blog/<%= data.id %>')"
                            class="e02419a9"
                          >
                            <button
                              aria-label="whatsapp"
                              class="react-share__ShareButton b188440f e7ab1d24"
                              style="
                                background-color: transparent;
                                border: none;
                                padding: 0;
                                font: inherit;
                                color: inherit;
                                cursor: pointer;
                              "
                            >
                              <strong></strong></button
                            >शेयर
                          </div>
                        </div>
                      </li>
                    </div>
                    <% }) %> <% } %>

                    <script>
                      function shareUrl(url){
                        navigator.share({url})
                      }
                    </script>
                    <span style="font-size: 0"></span>
                  </div>
                </ul>
                
                <div style="min-height: 200px"></div>

                <div class="e18ea945 db9a2680">
                  <a
                    class="f9b352a5"
                    style="bottom: 95px"
                    rel="noopener noreferrer"
                    href="https://t.me/vacancyupdates24"
                    >Join Now</a
                  >
                </div>

                <div class="c8097ca9 db9a2680 undefined">
                  <ul>
                    <li class="d81e148e">
                      <a href="/"
                        ><div
                          style="
                            display: inline-block;
                            align-items: center;
                            justify-content: center;
                            width: 24px;
                            height: 24px;
                          "
                        >
                          <svg
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M20.084 20.999H14.7C14.203 20.999 13.8 20.596 13.8 20.099V16.237C13.8 15.834 13.47 15.504 13.067 15.504H10.92C10.522 15.504 10.2 15.826 10.2 16.224V20.083C10.2 20.587 9.788 20.999 9.284 20.999H3.9C3.405 20.999 3 20.594 3 20.099V11.48C3 11.126 3.148 10.789 3.409 10.55L11.398 3.234C11.739 2.922 12.261 2.922 12.602 3.234L20.591 10.55C20.852 10.789 21 11.126 21 11.48V20.084C21 20.587 20.588 20.999 20.084 20.999Z"
                              fill="var(--foreground-color)"
                            ></path>
                          </svg>
                        </div>
                        होम</a
                      >
                    </li>
                    <li class="null">
                      <a href="/letest"
                        ><div
                          style="
                            display: inline-block;
                            align-items: center;
                            justify-content: center;
                            width: 24px;
                            height: 24px;
                          "
                        >
                          <svg
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M20 12C20 7.6 16.4 4 12 4C7.6 4 4 7.6 4 12C4 16.4 7.6 20 12 20C16.4 20 20 16.4 20 12ZM2 12C2 6.5 6.5 2 12 2C17.5 2 22 6.5 22 12C22 17.5 17.5 22 12 22C6.5 22 2 17.5 2 12ZM10.2 8.1L15.7 11.3C16.2 11.6 16.2 12.4 15.7 12.6L10.2 15.8C9.7 16.1 9 15.7 9 15.1V8.8C9 8.2 9.7 7.8 10.2 8.1Z"
                              fill="var(--foreground-color)"
                            ></path>
                          </svg>
                        </div>
                        पढ़े</a
                      >
                    </li>
                    <li class="false">
                      <a href="/search"
                        ><div
                          style="
                            display: inline-block;
                            align-items: center;
                            justify-content: center;
                            width: 24px;
                            height: 24px;
                          "
                        >
                          <svg
                            viewBox="0 0 28 28"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M12.0668 3.5C9.87467 3.5 7.6825 4.3365 6.0095 6.0095C2.6635 9.3555 2.6635 14.7793 6.0095 18.1253C7.6825 19.7983 9.87467 20.6348 12.0668 20.6348C13.8915 20.6348 15.7115 20.0468 17.2375 18.8883L22.5097 24.1605C22.7372 24.388 23.0358 24.5023 23.3345 24.5023C23.6332 24.5023 23.9318 24.388 24.1593 24.1605L24.1605 24.1593C24.6155 23.7043 24.6155 22.9658 24.1605 22.5108L18.8883 17.2387C21.4398 13.881 21.1913 9.0755 18.1265 6.01067C16.4523 4.3365 14.259 3.5 12.0668 3.5ZM12.0668 18.3003C10.402 18.3003 8.83633 17.6517 7.65917 16.4745C5.229 14.0443 5.229 10.0893 7.65917 7.65917C8.83633 6.482 10.402 5.83333 12.0668 5.83333C13.7317 5.83333 15.2973 6.482 16.4745 7.65917C18.9047 10.0893 18.9047 14.0443 16.4745 16.4745C15.2973 17.6517 13.7317 18.3003 12.0668 18.3003Z"
                              fill="var(--foreground-color)"
                            ></path>
                          </svg>
                        </div>
                        खोजें</a
                      >
                    </li>
                  </ul>
                </div>

              </div>

              <div class="b9cd31db">
                <div class="dbc90c19"></div>
                <span style="font-size: 0"></span>

                <div class="cce0a6ab">
                  <a href="/videos">
                    <span class="f1735215">वीडियो</span>
                    <span class="ed28c45e">
                      <span class="ba5ce2b1"></span>
                    </span>
                    <span class="f4a630a7">और देखें</span>
                    <img loading="lazy" src="" alt="" />
                  </a>
                </div>
                <span style="font-size: 0"></span>

                <div class="ab46c443">
                  <ul class="d775a447">
                    <li>
                      <a title="Advertise with Us" href="javascript:void(0)"
                        >Advertise with Us</a
                      ><span>|</span>
                    </li>
                    <li>
                      <a title="DB Reporter" href="javascript:void(0)"
                        >DB Reporter</a
                      ><span>|</span>
                    </li>
                    <li>
                      <a title="Sitemap" href="javascript:void(0)">Sitemap</a
                      ><span>|</span>
                    </li>
                    <li>
                      <a
                        title="Terms &amp; Conditions and Grievance Redressal Policy"
                        href="javascript:void(0)"
                        >Terms &amp; Conditions and Grievance Redressal
                        Policy</a
                      ><span>|</span>
                    </li>
                    <li>
                      <a title="Contact Us" href="javascript:void(0)"
                        >Contact Us</a
                      ><span>|</span>
                    </li>
                    <li>
                      <a title="RSS" href="javascript:void(0)">RSS</a
                      ><span>|</span>
                    </li>
                    <li>
                      <a title="Cookie Policy" href="javascript:void(0)"
                        >Cookie Policy</a
                      ><span>|</span>
                    </li>
                    <li>
                      <a title="Privacy Policy" href="javascript:void(0)"
                        >Privacy Policy</a
                      >
                    </li>
                  </ul>

                  <p>Copyright © 2024-25 DB Corp ltd., All Rights Reserved</p>
                  <p style="padding-top: 10px">
                    This website follows the
                    <a href="/dnpa-code-of-ethics-for-digital-news-websites"
                      >DNPA Code of Ethics</a
                    >.
                  </p>
                </div>

              </div>

            </div>
          </div>
          <div
            onclick="alert('coming soon...')"
            class="ebf6e4be"
            style="right: -40px; display: block; z-index: 99"
          >
            <a title="फीडबैक दें" href="#" rel="noopener noreferrer"
              >फीडबैक दें</a
            >
          </div>
        </div>
      </div>
    </div>



    


    <script src="./axios/dist/axios.js"></script>
    <script>
      let clutter = "";
      console.log(location.origin+"/results")
      document.getElementById("navResults").addEventListener("click",(e)=>{
        e.preventDefault()
        document.getElementById("topSlider").innerHTML = `<div style="height: 244.4px; width: 100%;margin: auto;">please wait.....</div>`
        document.getElementById("navResults").classList.add("ed5652bb");
        document.getElementById("navTopNews").classList.remove("ed5652bb");


      axios.get(location.origin+"/results").then((res)=>{
        console.log(res.data)

        if(res.data.length < 1){
          document.getElementById("topSlider").innerHTML = `<div style="height: 244.4px; width: 100%;margin: auto;">Nothing Found</div>`
        }else{

        clutter = "";
              res.data.forEach(data => {
                clutter +=
                        `<a
                          class="be5dc0f8 e93246f3"
                          style="--default-width: 176px"
                          href="/blog/${data.timeStamps}"
                          ><picture
                            class="c62bd949 ecc52c4b fe19aee0"
                            style="visibility: visible"
                            ><source
                              media="(max-width: 768px)"
                              type="image/webp"
                              srcset="${data.thumbnailUrl}" />
                            <source
                              media="(min-width: 768px)"
                              type="image/webp"
                              srcset="${data.thumbnailUrl}" />
                            <img
                              width="176"
                              height="132"
                              src="${data.thumbnailUrl}"
                              alt="${data.thumbnailUrl}"
                              loading="lazy"
                              style="aspect-ratio: 1.3333333333333333"
                              class="f97587ba ecc52c4b"
                          /></picture>
                          <p class="f5b13c8b" style="color: #2b2b2b">
                            ${data.title}
                          </p>
                        </a>`
                        })





        document.getElementById("topSlider").innerHTML = `
        <div class="b5efc039 b819f3aa" style="background: #ffffff">
                    <div class="e36c2a44">
                      <span class="f4728aed">Results</span>
                        <a class="bcc073be" href="javascript:void(0)">सभी देखें</a>
                    </div>
                    <div class="a63934ca">
                      <div class="a7a07d48">
                        ${clutter}
                        <a class="bcafd12c" href="javascript:void(0)">
                          <div class="f9255734">
                            <div
                              style="
                                display: inline-block;
                                align-items: center;
                                justify-content: center;
                              "
                              class="c5c466b4"
                            >
                              <svg
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <g id="ic_nav/back">
                                  <path
                                    id="Vector"
                                    d="M19 11.0002H7.5L12.5 6.0002C12.9 5.6002 12.9 4.9002 12.5 4.5002C12.1 4.1002 11.5 4.1002 11.1 4.5002L4.3 11.3002C3.9 11.7002 3.9 12.3002 4.3 12.7002L11.1 19.5002C11.5 19.9002 12.1 19.9002 12.5 19.5002C12.9 19.1002 12.9 18.5002 12.5 18.1002L7.5 13.1002H19C19.6 13.1002 20 12.6002 20 12.1002C20 11.4002 19.5 11.0002 19 11.0002Z"
                                    fill="var(--foreground-color)"
                                  ></path>
                                </g>
                              </svg>
                            </div>
                          </div>
                          <span class="d6c6ef48">सभी देखें</span>
                          </a>
                      </div>
                      <button type="button" class="eb9fa2d9 e20fd337">
                        <div
                          style="
                            display: inline-block;
                            align-items: center;
                            justify-content: center;
                          "
                          class="e0fc91aa"
                        >
                          <svg
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M6 9.57398C6 9.31798 6.098 9.06198 6.293 8.86698C6.684 8.47598 7.316 8.47598 7.707 8.86698L11.999 13.16L16.293 8.86698C16.684 8.47598 17.317 8.47598 17.707 8.86698C18.098 9.25798 18.098 9.88998 17.707 10.281L12.954 15.033C12.427 15.558 11.571 15.558 11.045 15.034L6.293 10.281C6.098 10.086 6 9.82998 6 9.57398Z"
                              fill="var(--foreground-color)"
                            ></path>
                          </svg>
                        </div>
                      </button>
                    </div>
                  </div>
        `
      }
      }).catch((err)=>{
        console.log(err)
      })

    })
    </script>


  </body>
</html>
